*{
    
}

body{
    text-align: center;
    
}


.head{
    display: flex;
    height: 63px;
    background-color: rgb(56, 56, 207);
    justify-content: space-between;
    align-items: center;   

}

.ham{
    margin-left: 30px;
    
}
.titulo1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(169, 150, 186);
font-size: 30px;
text-shadow: 3px 3px black;

}

.img2{
display: flex;

}

.contenedor{
    text-align: center;
    color: black;
}
.imagen{
    position: absolute;
    left: 0;
    z-index: -212;
}
.con1{
    display: flex;
  
}
.box1{
    height: 11rem;
    width: 17rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 5rem black ;
    margin: 2rem;
    position: absolute;
    bottom: 210px;
    left: 40px;
   
  
  
}
.box2{
    height: 11rem;
    width: 17rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 5rem black ;
    margin: 2rem;
    position: absolute;
    bottom: 210px;
    right: 40px;
 
}
.box3{
    height: 11rem;
    width: 17rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 5rem black ;
    margin: 2rem;
    position: absolute;
    bottom: 0px;
    left: 400px;
  }
.redes{
    left: auto;
}
  footer{
    bottom: 300px;
    color: azure;
    text-align: center;
    padding: 8px;
    text-shadow: 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }