* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .n{
    /* width: 100px; 
    height: 20px;
    /* margin-top: 1vh; 
} */

body {
    background-image: url("/img/ayuda.png");
    background-position: inherit;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 128, 0, 0.549);


}

.incono {
    display: flex;
    
}

/* .incono{
    display: flex;
    margin-top: 34vh;
 }
 nav{
    margin-top: 2vh;
 } */
h1 {
    font-size: 50px;
    font-family: "Baloo chettan ";
    -webkit-text-stroke: 1px white;
    color: black;
    font-weight: 1000;
    margin-top: 3vh;
    /* margin-left: 5vh; */
}

header {
    background-color:blue;
    /* width: 1920px;
  height: 156px; */
    width: 100%;
    /* border: solid yellow; */
    display: flex;
    /* margin-top: 10vh; */
    height: 15vh;
    


}


p {
    /* font-size: 40px; */
    /* height: 10hv; */
    font-family: "Baloo chettan ";
    font-size: 80px;

}

.and {
    display: flex;
    /* margin-right: 100vh; */
}

h5 {
    font-size: 20px;
    width: 150px;
    /* margin-left: 10vh; */
    text-align: center;
    
}

.and1 {
    /* text-align: center; */
    margin-left: 100vh;
    margin: auto;
    background-color: #7BC4FF;
    /* width:10px; */
    border-radius: 150px;
    margin-top: auto;
    margin-left:1200px;
    width: 20vh;
    /* width: 80%; */

}


.perfil {
    margin: auto;
    text-align: center;
right: 8vh; 

}
.no {
  
top: 24px;background-color: #7BC4FF;
    border-radius: 80%;

    height: 10vh;
    width: 70;

    margin: auto;
    display: flex;
    /* position: absolute; */
    /* margin-left: 0,6px; */
}

.h {
    color: black;
}

div {
    /* height: 100px;
    width: 100%; */
    /* border: solid red; */
    font-size: "baloo chettan";
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
    color: black;
    font-weight: 1000;
    /* margin-top: 10vh; */
}

.j {
    color: black;
    height: 100px;
    font-size: 60px;
    -webkit-text-stroke: 2px white;
    font-weight: 1000;

}



.s{
    width: 10vh;
    margin-top: 2vh;
    margin-left: 20vh;
    height: 3vh;
  
}

div {
    height:59vh;
    /* border: 2px solid rgb(168, 161, 161); */
    width: 90%;
    margin-left: 10vh;
    margin-right: 10vh;
    margin: center;
    /* background-color: white; */
}

img {
    margin-top: 5vh;
    margin-left: 5vh;
}

footer{
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 20vh;
    /* height:59vh; */
    /* border: 2px solid rgb(168, 161, 161); */
    width: 90%;
    margin-left: 10vh;
    margin-right: 10vh;
    margin: center;
}
.contenedor{
    display: flex;
    width: 100%;
}
/* .paso1{
margin: autos;
border: 1px solid reds;
} */
.paso2{
    width: 100%;
    margin:auto;
}
.sigue{
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
}
.g{
    margin: auto;
   
    margin-top: 5vh;
    font-family: "Baloo chettan ";
    
    color: rgb(253, 253, 253);
    font-weight: 1000;
}
.tele{
    display: flex;
    margin-left: 30vh;
}
h3{
    margin: auto;
    margin-top: 5vh;
}
.x{
    margin: auto;
    margin-top: 5vh;
}
.paso3{
    display: flex;

}
.letras{
    margin: auto;
    margin-right: 50px;
}
h6{
    margin: auto;
    margin-bottom: 20px;
}
.imagen{
    display: flex;
   
}
.q{
    margin-left: 20vh;
}
.img1{
    margin-right:10 vh;
} 
/* .img2{
    margin-right: 10vh;
    /* margin-top: 3vh; 
} */
